<div class="container-fluid">
  <div class="row">
  
    <div class="col-12">
      <div class="card">
        <div class="card-header bg-warning">
          <div class="row">
            <div class="col-6 text-black">
              <strong>Employee Portal</strong>
            </div>
            
          </div>
        </div>

        <div class="card-body">
          <table class="table table-bordered table-striped text-center">
            <thead class="table-secondary">
              <tr>
                <th>id</th>
                <th>Name</th>
                <th>Contact</th>
                <th>Email</th>
                <th>Department</th>
                <th>Role</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let emp of employees; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ emp.name }}</td>
                <td>{{ emp.contact }}</td>
                <td>{{ emp.email }}</td>
                <td>{{ emp.department }}</td>
                <td>{{ emp.role }}</td>
                <td>
                  <button class="btn btn-warning btn-sm me-2" (click)="editEmployee(emp)">Edit</button>
                  <button class="btn btn-danger btn-sm" (click)="deleteEmployee(emp.id!)">Delete</button>
                </td>
              </tr>
             
            </tbody>
          </table>
        </div>
      </div>
    </div>


    <div class="col-12 mt-3">
      <div class="card">
        <div class="card-header bg-warning">
          <div class="row">
            <div class="col-6 text-black">
              <strong>New Employee</strong>
            </div>
            
          </div>
        </div>

        <div class="card-body">
          <form class="mb-4" #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
            <div class="row">
              <div class="col-md-6">
                <label for="employeeName" class="form-label">Employee Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="employeeName"
                  placeholder="Enter employee name"
                  [(ngModel)]="employee.name"
                  name="name"
                  required />
              </div>

              <div class="col-md-6">
                <label for="contactNo" class="form-label">Contact No</label>
                <input
                  type="text"
                  class="form-control"
                  id="contactNo"
                  placeholder="Enter contact number"
                  [(ngModel)]="employee.contact"
                  name="contact"
                  required />
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-6">
                <label for="emailId" class="form-label">Email</label>
                <input
                  type="email"
                  class="form-control"
                  id="emailId"
                  placeholder="Enter email"
                  [(ngModel)]="employee.email"
                  name="email"
                  required />
              </div>

              <div class="col-md-6">
                <label for="deptId" class="form-label">Department</label>
                <select
                  id="deptId"
                  class="form-select"
                  [(ngModel)]="employee.department"
                  name="department"
                  required>
                  <option value="" disabled selected>--Select Department--</option>
                  <option>Development</option>
                  <option>Marketing</option>
                  <option>Human Resources</option>
                </select>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-6">
                <label for="password" class="form-label">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  placeholder="Enter password"
                  [(ngModel)]="employee.password"
                  name="password"
                  required />
              </div>

              <div class="col-md-6">
                <label for="role" class="form-label">Role</label>
                <input
                  type="text"
                  class="form-control"
                  id="role"
                  placeholder="Enter role"
                  [(ngModel)]="employee.role"
                  name="role"
                  required />
              </div>
            </div>

            <div class="mt-4">
              <button type="submit" class="btn btn-success mt-3">
                {{ isEditing ? 'Save' : 'Submit' }}
              </button>
              <button type="button" class="btn btn-secondary ms-2 mt-3" (click)="resetForm(employeeForm)">Clear</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
 

